<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text=${title} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<style>
    body{
        background-image:url("http://cdn30.us1.fansshare.com/image/wallpaperwhite/crumpled-white-paper-texture-melemel-528360295.jpg");
        background-attachment: fixed;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px
    }
    hr{
        border-color:black;
    }
    p{
        font-size: 18px;
    }
</style>

<center><h1>MY CV</h1></center>
<hr/>
<center><img class="img-circle" src="https://i.imgur.com/NhxxycY.jpg" alt="Profil Picture" style="width:280px;height:280px;"></center>
<section name="bio">
    <h2>Bio</h2>
    <p>Nama : Muhammad Imbang Murtito</p>
    <p>Birthdate : 25 September 1998 </p>
    <p>Birthplace : Bandung</p>
    <p>Address : Perumahan Taman Kota Block C4 No.3 RT 07 RW 16, Bekasi Jaya</p>
</section>
<hr/>
<section name="education">
    <p>SD : SDIT Salsabila</p>
    <p>SMP : SMPN 1 Bekasi</p>
    <p>SMA : SMAN 1 Bekasi</p>
    <p>S1 : Universitas Indonesia</p>
</section>
<hr/>
<section name="description">
    <p>
        Mahasiswa jurusan Ilmu Komputer angkatan 2016. Hobi baca buku terutama novel Jepang.
        Saat ini menjabat sebagai kepala departemen MDC di FUKI. Moto hidup "Gk papa deadliner yang penting kelar".
    </p>
</section>
</body>
</html>